/*
	CONFIGURACION GLOBAL
*/
html{
	background-color: rgba(0,0,255,0.5);
}

/*
	CONFIGURACION DEL HEADER
*/
header{
	margin: 1%;
	background-color: white;
	height: 100px;
	border-radius: 10px 10px 10px;
}

header h1{
	opacity: 1;
	color: black;
	padding-top: 30px;
	padding-left: 35%;
}

/*
	CONFIGURACION DEL NAVEGADOR
*/


nav ul{
	list-style-type: none;
	margin: 1%;
	margin-left: 40%;
	padding: 0;
	overflow: hidden;
	background-color: white;
	border-radius: 10px 10px 10px;
	width: 15.5%;
}

nav ul > li {
	float: left;
}

nav ul li a {
	background-color:white;
	color:black;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}

nav ul li:not(#active) a:hover{
	border-bottom: solid 2px blue;
}

nav ul li ul {
	display:none;
	position: absolute;
	width: 17%;
}

nav ul li:hover > ul {
	display:list-item;
	margin: 0;
}


#active{
	border-bottom: solid 2px blue;
}

/*
	MENU INVISIBLE DESLIZABLE
*/

.menu{
	margin-left: 25%;
	margin-top: 2%;
	width: 600px;
	height: auto;
	max-height: 400px;
	overflow: auto;
	border-radius: 10px 10px 10px;
	box-shadow: 0px 0px 15px 5px blue;
}


/*
	ELEMENTOS DEL MENU
*/

.menu article{
	width: 99.3%;
	background-color: white;
	border-radius: 10px 10px 10px;
	border: solid 2px black;
}

.menu article p, .menu article h2{
	margin-left: 3.5%;
	margin-top: 3%;
	margin-right: 3.5%;
	margin-bottom: 3%;
}

.menu h2{
	text-decoration: bold;
}