@media only screen and (max-width: 365px) {
	/*
		CONFIGURACION DEL NAVEGADOR
	*/

	nav{
		margin-top: 3%;
	}

	nav li{
		list-style: none;
		background: white;
		display: none;
		height: 22px;
		width: 150px;
		float: left;
		margin-top: 1.4%;
		margin-left: 40%;
		border-radius: 10px 10px 10px;
		padding-left: 20px; 
	}

	nav li a{
		text-decoration: none;
		color: black;
	}

	nav ul{
		width: 55px;
		height: 55px;
		background-image: url("../imagenes/expandir.png");
		background-size: 55px 55px;
		background-repeat: no-repeat;
		display: block;
		
	}

	nav ul li:hover{
		background: rgba(0,0,0,0);
	}

	nav ul:hover li{
		display: block;
	}

	/*
		ELEMENTOS DEL MENU
	*/

	.menu {
		margin-top: 15%;
	}

	.menu img{
		max-width: 200px;
		max-height: 150px;
		margin: 0 auto;
		margin-top: 3%;
		display: block;
	}

	.menu article p, .menu article h2, .menu img, .menu form{
		clear: left;
	}

	.menu h2{
		text-align: center;
	}

	/*
		PELICULAS NUEVAS
	*/

	.news img{
		max-width: 240px;
		max-height: 100px;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
		border-radius: 10px 10px 10px;
	}

}